* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, sans-serif;
}

h1 {
    font-size: 60px;
    padding:10px;
    margin-right:10px;
    font-family: Verdana, sans-serif;
    font-weight: normal;
}

h2 {
    font-size: 50px;
    padding:0px;
    Margin-left: 0px;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: Verdana, sans-serif;
    height:auto;
    background-color: rgb(7, 38, 68);
}

.headerbox {
    background-color: teal;
    padding: 10px;
    width:600px;
    height:auto;
    display:inline-block;
}

header .headerbox {
    text-align: right;
}

nav {
    display: inline-block;

}

ul {
    flex-wrap:wrap;
    float:right;
}


li {
    flex-wrap:wrap;
    display:inline;
    margin:30px;
}

/* making the nav items white, getting rid of the underline, establishing font size and family */
header a {
    text-decoration: none;
    font-family:arial;
    color:white;
    font-size:20px;
}

.hero {
    height: 800px;
    width: 100%;
    background-image: url("../images/antlers.jpg");
    background-size: cover;
    background-position: center;
}

div {
    margin-left:0 ; 
}

.about-me-container {
    display:flex;
    justify-content:flex-start;
    background-color: rgb(7, 38, 68);
}

.about-heading {
    height:400px;
    background-image: url(../images/linkedin.PNG);;
    background-size:390px;
    background-repeat: space;
    align-self:auto;
    padding:0px;
    float:left;
}

 .about-heading h2 {
    height:300px;
    font-size: 80px;
    padding:40px;
    font-weight: normal;
    color: rgb(255, 255, 255);
 }

.about-me-text {
    background-color: rgb(7, 38, 68);
    color:white;
    text-align: left;
    padding:20px;
}

p {
  font-size: 25px;    
}

.surf-container{
    display:flex;
    background-color: rgb(1, 7, 12);
}

.recent-work-box {
    height:fit-content;
    flex:1 1 400px;

}

.recent-work-box h3 {
    Font-size: 40px;
    color:white;
    padding:10px;
    vertical-align: middle;
    text-align: middle;
    margin: 50px;
    border: rgb(7, 38, 68);
    border-width: 10px;
    border-style: solid;

}



.surf{
    height:300px;
    width: 100%;
    background-color: rgb(138, 158, 180);
}

.smaller-projects {
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(1, 7, 12);
}

.led-wall {
    display:flex;
    align-items: flex-end;
    width:50%;
    height:150px;
    background-image: url(/assets/images/ledwall.jpg);
}

.calculator {
    display:flex;
    align-items: flex-end;
    width:50%;
    height:150px;
    background-image:url(/assets/images/calculator.jpg)
}

.pastel {
    display:flex;
    align-items: flex-end;
    width:50%;
    height:150px;
    background-image:url(/assets/images/pastel\ puzzle.jpg)
}

.runbuddy {
    display:flex;
    align-items: flex-end;
    width:50%;
    height:150px;
    background-position:left;
    background-image:url(/assets/images/runbuddy.jpg)
}

.app-box {
    display:flex;
    align-items: flex-end;
    border-style: solid;
    border-color:rgb(140, 211, 204);
    border-width: 10px;
}

.bluebox { 
    background-color:rgb(140, 211, 204);
    padding:10px;
    margin-bottom:20px;
}

.contact {
    display:flex;
    align-items:center;
    height:250px;
    background-image: url(/assets/images/HoustonBlue.jpg);
    background-position: center;
}

.contact-me{
   margin:50px;
   text-align: right;
   word-wrap: normal;
   width:300px;
   padding:40px;
   display:inline-block;
   color:white;
}

.contact-items {
    flex:0 0 20%;
    display:inline-block;
    margin:10px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    color:white;
}