* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 60px;
    padding:10px;
    margin-right:10px;
}

h2 {
    font-size: 50px;
    padding:10px;
    Margin-left 
}

header {
    display:flex;
    justify-content: space-between;
    padding: 10px;
    font-family: Verdana, sans-serif;
    height:auto;
    background-color: rgb(7, 38, 68);
}

.headerbox {
    background-color: teal;
    padding: 10px;
    width:600px;
    height:auto;
    display:inline-block;
}

header .headerbox {
    text-align: right;
}

nav {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

ul {
    flex-wrap:wrap;
    float:right;
}


li {
    flex-wrap:wrap;
    display:inline;
    margin:30px;
}

/* making the nav items white, getting rid of the underline, establishing font size and family */
header a {
    text-decoration: none;
    font-family:arial;
    color:white;
    font-size:20px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/antlers.jpg");
    background-size: cover;
    background-position: center;
}

